.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin: 6px;
    padding-bottom: 8px;

    .title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;

        h1 {
            flex-grow: 1;
            padding-left: 24px;
        }
    }

    .content {
        margin: 0 8px 0 16px;
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 4px 8px 0 0;

        &.seperator {
            border-top: 1px solid rgba(51, 51, 51, 0.23);
        }
    }
}