$header-background-color: #fff;

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
    background-color: $header-background-color;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    @media (max-width: 720px) {
        &.fixed-mobile {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
    }

    .navbar-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
}

div[class^="navbar-"] {
    &[class*="title"] {
        flex-grow: 1;
        padding-left: 8px;
        padding-right: 8px;
        h1 {
            margin: 8px;
        }
    }
    &[class*="buttons"] {
        display: flex;
    }
}