@import "color.scss";

@mixin button-text-color($color) {
    color: $color;
    .button-text {
        color: $color;
    }
}



button[class^="button"] {
    background: none;
    border: none;
    &:focus {
        outline: none;
    }
}

[class^="button"] {
    cursor: pointer;
    color: $text-dark;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 6px 6px 4px 6px;
    border-radius: 3px;
    margin: 0 4px;
    
    /* Standard Text Only Button */
    &.positive {
        @include button-text-color($fill-positive);
    }
    
    &.neutral {
        @include button-text-color($fill-neutral);
    }
            
    &.warning {
        @include button-text-color($fill-warning);
    }

    &.disabled, &.disabled span {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &[class*="-text"] {
        font-size: 16px;
        text-transform: capitalize;
    }
    
    /* Button with border */
    &.outlined {
        border: 1px solid $text-dark;

        &.positive {
            border: 1px solid $fill-positive;
            @include button-text-color($fill-positive);
        }
        
        &.neutral {
            border: 1px solid $fill-neutral;
            @include button-text-color($fill-neutral);
        }
                
        &.warning {
            border: 1px solid $fill-warning;
            @include button-text-color($fill-warning);
        }
    }
    
    /* Solid Fill Buttons */
    &.filled {
        &.positive {
            background-color: $fill-positive;
            @include button-text-color($text-light);
        }

        &.neutral {
            background-color: $fill-neutral;
            @include button-text-color($text-light);
        }

        &.warning {
            background-color: $fill-warning;
            @include button-text-color($text-light);
        }
    }
}