@import "color.scss";

.input-wrapper.checkbox {
    flex-direction: row;
    align-items: center;

    input[type="checkbox"] {
        background: none;
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 2px solid $light-grey;
        margin-right: 8px;
        margin-left: 16px;

        &:checked {
            border: 2px solid $fill-neutral;
            background: $fill-neutral;
        }

        &:active, &:focus {
            outline: none;
        }
    }

    &.icon {
        position: relative;
        
        .checkbox-checked, .checkbox-unchecked {
            position: absolute;
            top: -3px;
            left: 12px;
            pointer-events: none;
        }

        input[type="checkbox"] {
            opacity: 0;

            & ~ .checkbox-checked {
                display: none;
            }

            & ~ .checkbox-unchecked {
                display: block;
            }

            &:checked {
                & ~ .checkbox-checked {
                    display: block;
                }

                & ~ .checkbox-unchecked {
                    display: none;
                }
            }
        }
    }
}