ul {
    list-style: none;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-end: 0;
    -webkit-margin-after: 0;
    display: flex;
    flex-direction: column;
    padding: 0 8px;

    li {
        display: flex;
        align-items: center;
        padding: 8px 0px;
        width: 100%;

        &:first-of-type {
            padding-top: 8px;
        }

        a:first-of-type {
            padding-right: 16px;
        }

        span.list-main {
            padding-right: 8px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .subtitle {
                font-weight: 300;
            }

            & ~ a {
                justify-self: flex-end;
            }
        }
    }
}