@import "color.scss";

.menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-content {
    position: relative;
    transform: scale(1);
    transition: all 0.2s;
    transform-origin: top right;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        background-color: white;
        border-radius: 3px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
        top: -16px;
        right: 8px;
    
        li {
            padding: 6px 8px;
        }
    }
    
    &:not(.visible) {
        //display: none;
        transform: scale(0);
    }
}