@import "color.scss";

.input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 32px 4px 0 4px;
}

.text-field {
    input, textarea {
        position: relative;
        background-color: initial;
        border-style: none;
        border-bottom: 1px solid $light-grey;
        text-indent: 8px;
        color: $text-dark;
        padding-bottom: 3px;

        &:valid, &:focus {
            & ~ label {
                top: -16px;
                font-size: 80%;
            }
        }

        &:focus {
            outline: none;
            
            & ~ label {
                color: $fill-neutral;

                &:after {    
                    left: -8px;            
                    width: calc(100% + 8px);
                }
            }
        }

        ~ label {
            position: absolute;
            pointer-events:none;
            margin-left: 8px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            color: $light-grey;
            transition: all 0.2s;

            &:after {
                content: "";
                width: 0;
                position: absolute;
                bottom: 0;
                left: 50%;
                height: 2px;
                background-color: $fill-neutral;
                transition: all 0.2s;
            }
        }
    }
}