@mixin one-to-twelve-percentages() {
}

.grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    [class*="col"] {
        &[class*="-xs-11"] {
            width: 91.666666667%;
        }
        &[class*="-xs-10"] {
            width: 83.33333333%;
        }
        &[class*="-xs-9"] {
            width: 74.999999997%;
        }
        &[class*="-xs-8"] {
            width: 66.666666664%;
        }
        &[class*="-xs-7"] {
            width: 58.333333331%;
        }
        &[class*="-xs-6"] {
            width: 50%;
        }
        &[class*="-xs-5"] {
            width: 41.666666667%;
        }
        &[class*="-xs-4"] {
            width: 33%;
        }
        &[class*="-xs-3"] {
            width: 25%;
        }
        &[class*="-xs-2"] {
            width: 16.6667%;
        }
        &[class*="-xs-1"] {
            width: 8.333%;
        }
        &[class*="-xs-12"] {
            width: 100%;
        }
    }

    @media (min-width: 460px) {
        [class*="col"] {
            &[class*="-sm-11"] {
                width: 91.666666667%;
            }
            &[class*="-sm-10"] {
                width: 83.33333333%;
            }
            &[class*="-sm-9"] {
                width: 74.999999997%;
            }
            &[class*="-sm-8"] {
                width: 66.666666664%;
            }
            &[class*="-sm-7"] {
                width: 58.333333331%;
            }
            &[class*="-sm-6"] {
                width: 50%;
            }
            &[class*="-sm-5"] {
                width: 41.666666667%;
            }
            &[class*="-sm-4"] {
                width: 33%;
            }
            &[class*="-sm-3"] {
                width: 25%;
            }
            &[class*="-sm-2"] {
                width: 16.6667%;
            }
            &[class*="-sm-1"] {
                width: 8.333%;
            }
            &[class*="-sm-12"] {
                width: 100%;
            }
        }
    }

    @media (min-width: 720px) {
        [class*="col"] {
            &[class*="-md-11"] {
                width: 91.666666667%;
            }
            &[class*="-md-10"] {
                width: 83.33333333%;
            }
            &[class*="-md-9"] {
                width: 74.999999997%;
            }
            &[class*="-md-8"] {
                width: 66.666666664%;
            }
            &[class*="-md-7"] {
                width: 58.333333331%;
            }
            &[class*="-md-6"] {
                width: 50%;
            }
            &[class*="-md-5"] {
                width: 41.666666667%;
            }
            &[class*="-md-4"] {
                width: 33%;
            }
            &[class*="-md-3"] {
                width: 25%;
            }
            &[class*="-md-2"] {
                width: 16.6667%;
            }
            &[class*="-md-1"] {
                width: 8.333%;
            }
            &[class*="-md-12"] {
                width: 100%;
            }
        }
    }
        
    @media (min-width: 1200px) {
        [class*="col"] {
            &[class*="-lg-11"] {
                width: 91.666666667%;
            }
            &[class*="-lg-10"] {
                width: 83.33333333%;
            }
            &[class*="-lg-9"] {
                width: 74.999999997%;
            }
            &[class*="-lg-8"] {
                width: 66.666666664%;
            }
            &[class*="-lg-7"] {
                width: 58.333333331%;
            }
            &[class*="-lg-6"] {
                width: 50%;
            }
            &[class*="-lg-5"] {
                width: 41.666666667%;
            }
            &[class*="-lg-4"] {
                width: 33%;
            }
            &[class*="-lg-3"] {
                width: 25%;
            }
            &[class*="-lg-2"] {
                width: 16.6667%;
            }
            &[class*="-lg-1"] {
                width: 8.333%;
            }
            &[class*="-lg-12"] {
                width: 100%;
            }
        }
    }
}