.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidenav {

    .sidenav-menu {
        background-color: #ffffff;
        z-index: 1;
        box-shadow: 6px 0 6px rgba(0,0,0,.1);
    }

    /* Floating Side nav */
    &:not(.sidenav-static) {
        .sidenav-menu {
            position: absolute;
            top: 0;
            left: -186px;
            bottom: 0;
            width: 180px;
            transition: all 1s;

            &.visible {
                top: 0;
                left: 0;
                bottom: 0;
            }
        }
    }

    /* Always visible side nav */
    &.sidenav-static {
        display: flex;
        flex-direction: row;

        .sidenav-nav {
            min-width: 180px;
        }

        .sidenav-content {
            flex-grow: 1;
        }
    }
}

.page {
    margin-left: auto;
    margin-right: auto;
}