.collapsible {
    overflow:hidden;
    max-height: auto;
    
    &.hide {
        max-height: 0px;
    }
}

/* Show and hide breakpoints */

.show-xs {
    @media (max-width: 459px) {
        display: block;
    }
    @media (min-width: 460px) {
        display: none;
    }
}

.hide-xs {
    @media (max-width: 459px) {
        display: none;
    }
    @media (min-width: 460px) {
        display: block;
    }
}

.hide-xs-up {
    @media (min-width: 460px) {
        display: none;
    }
}

.show-sm {
    display: none;

    @media (min-width: 460px) and (max-width: 719px) {
        display: block;
    }
}

.show-sm-up {
    display: none;

    @media (min-width: 460px) {
        display: block;
    }
}

.show-sm-down {
    display: none;

    @media (max-width: 459px) {
        display: block;
    }
}

.hide-sm {
    display: block;

    @media (min-width: 460px) and (max-width: 719px) {
        display: none;
    }
}

.hide-sm-up {
    display: block;

    @media (min-width: 460px) {
        display: none;
    }
}

.hide-sm-down {
    display: block;

    @media (max-width: 459px) {
        display: none;
    }
}

.show-md {
    display: none;

    @media (min-width: 720px) and (max-width: 1119px) {
        display: block;
    }
}

.show-md-up {
    display: none;

    @media (min-width: 720px) {
        display: block;
    }
}

.show-md-down {
    display: none;

    @media (max-width: 719px) {
        display: block;
    }
}

.hide-md {
    display: block;

    @media (min-width: 720px) and (max-width: 1119px) {
        display: none;
    }
}

.hide-md-up {
    display: block;

    @media (min-width: 720px) {
        display: none;
    }
}

.hide-md-down {
    display: block;

    @media (max-width: 719px) {
        display: none;
    }
}

.show-lg {
    display: none;

    @media (min-width: 1200px) {
        display: block;
    }
}

.hide-lg {
    display: block;

    @media (min-width: 1200px) {
        display: none;
    }
}

.hide-lg-down {
    display: block;

    @media (max-width: 1199px) {
        display: none;
    }
}