@import "normalize.scss";
@import "color.scss";
@import "type.scss";
@import "layout.scss";
@import "grid.scss";

/* Components */
@import "modules/components/navigation.scss";
@import "modules/components/footer.scss";
@import "modules/components/card.scss";
@import "modules/components/tabs.scss";
@import "modules/components/form.scss";

/* Elements */
@import "modules/elements/button.scss";
@import "modules/elements/menu.scss";
@import "modules/elements/list.scss";
@import "modules/elements/text-input.scss";
@import "modules/elements/checkbox.scss";

/* Utility Classes */
@import "utils.scss";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $background-color;
    color: $text-dark;

    .pbl-main {
        flex-grow: 1;
    }

    img {
        width: 100%;
        height: auto;
    }
}